<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.cursoBCA"
    version   = "1.0.1">

    <name>BCNActiva PG &amp; Map Geolocation</name>
    <description>Phonegap Geolocation</description>
    <author href="http://cast-info.es" email="pep.farin@cast-info.es">Pep Farin</author>

    <content src="index.html" />
    <access origin="*" />

    <preference name="phonegap-version" value="3.7.0"/>
    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="exit-on-suspend" value="false"/>
    <preference name="android-installLocation" value="auto"/>
   
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    
    <icon src="res/android/icon.png" />

    
</widget>
